* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100vh;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

button {
  font-family: "Raleway", sans-serif;
}

.App {
  transition: all 0.3s ease;
  min-height: 100vh;
}

.catalog-active {
  margin-left: 10rem;
}

.dark {
  background-color: black;
  color: white;
  button {
    color: white;
    border-color: white;
  }
  .catalog {
    background-color: black;
    box-shadow: none;
    border: 0 2px 0 0 solid white;
  }
  .catalog-active {
    background-color: black;
  }
}

.highlight {
  color: #00b8a9;
}

@import "./song";
@import "./player";
@import "./catalog";
@import "./nav";
